@media screen and (max-width: 480px) {
    * {
        font-size: 100%;
    }

    header {
        width: 100%;
        position: sticky;
        top: 5px;
    }

    h1 {
        font-size: 150%;
    }

    #Profielfoto {
        width: 250px;
        height: 250px;
        margin-left: 25%;
    }

    #Mijzelf {
        width: 400px;

    }

    #Gegevens {
        text-wrap: initial;
        width: 400px;
        margin-top: 10px;
        margin-left: 45px;
        font-size: 80%;
    }

    #linkedin {
        height: 10%;
        width: 10%;
    }

    #Studies {
        width: 400px;
        margin-left: 45px;
        margin-top: 10px;
        font-size: 85%;
    }
    #Werk{
        width: 400px;
        margin-left: 45px;
        margin-top: 10px;
        font-size: 90%;
        padding: 5px;
        text-align: left;
    }
}